<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Page d'accueil</title>
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>          
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper teal darken-1">
            <a href="#!" class="brand-logo"><p class="material-icons">home</p>ACCUEIL</a>
            <ul class="right hide-on-med-and-down">
                <li><a href=""><i class="material-icons">refresh</i></a></li>
                <li><a><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="center-align">
        <a class="waves-effect waves-light btn" href="./devis"><i class="material-icons left">cloud</i>Devis</a>
        <a class="waves-effect waves-light btn" href="./dashboard"><i class="material-icons right">cloud</i>Tableau de bord</a>
    </div>
</body>