<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>          
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
 

<script>
    
    $(function(){
        
        $(document).ready(function() {
            $('select').material_select();

            function calculateTotal()
            {
            
            //item_price.sugar = ($("#autocomplete-quantite").val() * $("#autocomplete-prix").val() )
            var prixHT = ($("#quantite").val() * $("#prix").val() - $("#reduction").val() )
            $("#total_ht").val(prixHT);
            var prixTTC =  prixHT + (prixHT * ($("#tva").val() / 100))
            $("#total_ttc").val(prixTTC);
            }
            $(function()
            {
                $(".autocomplete").on("change keyup",calculateTotal)
            })
  }); // end of document ready
})(jQuery); 



</script>


</head>

<body>
<!--
Client (destinataire),
Duree de validité (exemple calendrier ou bare),
Arcticle : quantité, prix, tva, réduction, total HT, total TTC, description
Possibilité d'ajouter des articles 
-->

<nav>
    <div class="nav-wrapper teal darken-1">
        <a href="#!" class="brand-logo"><p class="material-icons">calculate</p>FINANCES</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="./dashboard"><i class="material-icons">insert_chart</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
        </ul>
    </div>
</nav>

<div class="container">
    
    <h3>Hello World</h3>
    <h4><%= devi.client %></h4>
    
</div>

</body>
</html>
