<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <!--JavaScript at end of body for optimized loading-->
    <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</head>

<body>
<!--
Client (destinataire),
Duree de validité (exemple calendrier ou bare),
Arcticle : quantité, prix, tva, réduction, total HT, total TTC, description
Possibilité d'ajouter des articles 
-->

<nav>
    <div class="nav-wrapper teal darken-1">
        <a href="#!" class="brand-logo"><i class="material-icons">calculate</i>FINANCES</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="./dashboard"><i class="material-icons">view_module</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
        </ul>
    </div>
</nav>

<div class="container">
    
    <h3>Nouveau devis</h3>
    <div class="row">
        <div class="col s12">
            <form action="/devis" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Sélectionner un destinataire</option>
                            <% var i=0 %>
                            <% devis.forEach(function(devi) {%>
                            <option value="<%i=i+1%>"><%= devi.client %></option>
                            <% }); %>
                        </select>
                        <label>Destinataire</label>
                    </div>
                </div>
                <h5>Informations</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="birthdate">Durée de validité</label>
                        <br>
                        <input type="date" name="date_val" class="datepicker">
                    </div>
                </div>
                <h5>Articles</h5>
                <div class="row">
                    <div class="input-field col s2">
                        <input type="number" id="autocomplete-quantite"  name="quantite" class="autocomplete" >
                        <label for="quantite">Quantité</label>
                    </div>
                    <div class="input-field col s2">
                        <input type="text" id="autocomplete-prix"  name="prix" class="autocomplete" >
                        <label for="prix">Prix</label>
                    </div>
                    <div class="input-field col s2">
                        <input value="20" type="number" id="autocomplete-tva"  name="tva" class="autocomplete" >
                        <label class="active" for="tva">TVA</label>
                    </div>
                    <div class="input-field col s2">
                        <input type="number" id="autocomplete-reduction"  name="reduction" class="autocomplete" >
                        <label for="reduction">Réduction</label>
                    </div><div class="input-field col s2">
                        <input type="number" id="autocomplete-total-ht"  name="total-ht" class="autocomplete" >
                        <label for="total-ht">Total HT</label>
                    </div>
                    <div class="input-field col s2">
                        <input type="number" id="autocomplete-total-ttc"  name="total-ttc" class="autocomplete" >
                        <label for="total-ttc">Total TTC</label>
                    </div>
                    <div class="input-field col s12">          
                        <textarea id="description" class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                      </div>
                </div>
                <div class="row">    
                    <div class="rail mt">          
                        <textarea id="description" class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                      </div>
                </div>
            </form>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>

 
                        <input type="text" id="autocomplete-input"  name="nomClient" class="autocomplete" >
                        <label for="autocomplete-input">Autocomplete</label>

   

    <div>
        <form action="#">
            <p class="range-field">
                <input type="range" id="test5" min="0" max="100" />
            </p>
        </form>
    </div>
</div>

</body>
</html>
