<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>          
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
 

<script>
    
    $(function(){
        
        $(document).ready(function() {
            $('select').material_select();

            function calculateTotal()
            {
            
            //item_price.sugar = ($("#autocomplete-quantite").val() * $("#autocomplete-prix").val() )
            var prixHT = ($("#quantite").val() * $("#prix").val() - $("#reduction").val() )
            $("#total_ht").val(prixHT);
            var prixTTC =  prixHT + (prixHT * ($("#tva").val() / 100))
            $("#total_ttc").val(prixTTC);
            }
            $(function()
            {
                $(".autocomplete").on("change keyup",calculateTotal)
            })
  }); // end of document ready
})(jQuery);

    <%
    function returnStringDate(dt) {
        let d = new Date(dt);
        let ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d);
        let mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d);
        let da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d);
        return `${ye}-${mo}-${da}`;
    } %>

</script>


</head>

<!--
Client (destinataire),
Duree de validité (exemple calendrier ou bare),
Arcticle : quantité, prix, tva, réduction, total HT, total TTC, description
Possibilité d'ajouter des articles
-->
<body>

    <nav>
        <div class="nav-wrapper" style="background-color: #00A896;">
            <a href="#!" class="brand-logo"><div class="material-icons">calculate</div>DEVIS</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/finance"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Accueil" data-delay="0">home</i></a></li>
                <li><a href="/finance/devis/view"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Liste des devis" data-delay="0">calculate</i></a></li>
                <li><a href="/finance/facture/view"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Liste des factures" data-delay="0">receipt</i></a></li>
                <li><a href="/finance/dashboard"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Tableau de bord" data-delay="0">insert_chart</i></a></li>
                <li><a href=""><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Rafraichir la page" data-delay="0">refresh</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <h3>Nouveau devis</h3>
        <div class="row">
            <div class="col s12">
                <form action="/finance/devis/add" method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="selectClient" id="selectClient">
                                <option value="" disabled selected>Sélectionner un destinataire</option>
                                <% dataClients.forEach(function(dataClient) {%>
                                <option name="nomClient" value="<%= dataClient.first_name %>"><%= dataClient.first_name %></option>
                                <% }); %>
                            </select>
                            <label for="selectClient">Destinataire</label>
                        </div>
                    </div>
                    <h5>Informations</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="date_val">Durée de validité</label>
                            <br>
                            <input type="date" id="date_val" name="date_val" class="" min="<%= returnStringDate(Date.now()) %>" required>
                        </div>
                    </div>
                    <h5>Articles</h5>
                    <div class="row">
                        <div class="input-field col s2">
                            <input type="number" min="0" id="quantite"  name="quantite" class="autocomplete" required>
                            <label for="quantite">Quantité</label>
                        </div>
                        <div class="input-field col s2">
                            <input type="number" min="0" id="prix"  name="prix" class="autocomplete" required>
                            <label for="prix">Prix (€)</label>
                        </div>
                        <div class="input-field col s2">
                            <input value="20" min="0" type="number" id="tva"  name="tva" class="autocomplete" required>
                            <label class="active" for="tva">TVA (%)</label>
                        </div>
                        <div class="input-field col s2">
                            <input type="number" min="0" id="reduction"  name="reduction" class="autocomplete" >
                            <label for="reduction">Réduction (€)</label>
                        </div><div class="input-field col s2">
                            <input type="number" min="0" readonly value="0" id="total_ht"  name="total_ht" class="autocomplete" required>
                            <label for="total_ht">Total HT (€)</label>
                        </div>
                        <div class="input-field col s2">
                            <input type="number" min="0" readonly value="0" id="total_ttc"  name="total_ttc" class="autocomplete" required>
                            <label for="total_ttc">Total TTC (€)</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="description" name="description" class="materialize-textarea" required></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Créer
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>

        <!--<input type="text" id="autocomplete-input"  name="nomClient" class="autocomplete" >-->
        <!--<label for="autocomplete-input">Autocomplete</label>-->

       <!---->

        <!--<div>-->
            <!--<form action="#">-->
                <!--<p class="range-field">-->
                    <!--<input type="range" id="test5" min="0" max="100" />-->
                <!--</p>-->
            <!--</form>-->
        <!--</div>-->
    </div>

</body>
</html>
